[Unit]
Description=wblock-panel Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/wblock/
ExecStart=/usr/local/wblock/wblock

[Install]
WantedBy=multi-user.target